{% extends "global/Page.html" %}


{% block title %}
    <!--- Timeline of the experiment ---------------------->
    <div class="md-stepper-horizontal magenta" id="timeline">
        <div class="md-step active" id="instructions">
            <div class="md-step-circle"></div>
            <div class="md-step-title">Instructions</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
     
        <div class="md-step" id="experiment">
            <div class="md-step-circle"></div>
            <div class="md-step-title">Experiment</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
        <div class="md-step" id="questionnaire">
            <div class="md-step-circle"></div>
            <div class="md-step-title">Survey</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
    </div>
    <br>
    <br>
    <!-------------------------------------------------->
{% endblock %}

{% block content %}
    <div id='inst' class="inst-container fade-in">
   
    <h2 id="title" class="container fade-in"></h2>
    <div id="text" class="container fade-in">
    </div>

    <div class="btn-container">
            <button type="button" class="matter-button-contained inst-btn" id="previous">PREVIOUS</button>
            <button type="button" class="matter-button-contained inst-btn" id="next">NEXT</button>
    </div>
</div>

    <script>
        $(document).ready(function () {
            
            let panels = {{ panels }};
            let titles = {{ titles }};
            let max = Math.max(...Object.keys(panels));
            let index = 1;

            let startTime = {{ startTime }};
            let timeLimit = {{ instructionsTime }};

            $('#text').html(panels[index]);
            $('#title').html(titles[index]);

            $('#next').click(function () {

                // scroll top to inst div
                $('html, body').animate({
                    scrollTop: $("#inst").offset().top
                }, 200);
                index++;
                $('#text').hide().html(panels[index]).fadeIn(300);
                $('#title').hide().html(titles[index]).fadeIn(300);
                if (index === max) {
                    document.querySelector('#text').innerHTML =
                   document.querySelector('#text')
                   .innerHTML.replace(/\d+/g, Math.round((timeLimit-(Date.now() - startTime))/1000))
                }
                if (index > 1) {
                    $('#previous').show();
                }

                if (index === 2) {
                    try {
                        Notification.requestPermission()
                    } catch {
                        materialAlert('Warning', 
                        `Your browser does not support notifications,
                         please be careful of the countdown (displayed at the last page of these instructions)`, () => {})
                        console.log('Notifications not supported')
                    }
                }

                if (index > max) {
                    materialAlert('Wait', 'Please wait for the end of the countdown to proceed to the experiment', () => {
                    });
                    index--;
                }
            });

            $('#previous').click(function () {
                $('html, body').animate({
                    scrollTop: $("#inst").offset().top
                }, 200);
                index--;
                $('#text').hide().html(panels[index]).fadeIn(300)
                $('#title').hide().html(titles[index]).fadeIn(300)
                if (index === 1) {
                    $('#previous').hide();
                }
                if (index <= max) {
                    $('#next').show();
                }
            })

           var timer = setInterval(function () {
               liveSend('hey');
               if (index == max) {
                //alert('test')
                document.querySelector('#text').innerHTML =
                   document.querySelector('#text')
                   .innerHTML.replace(/\d+/g, Math.round((timeLimit-(Date.now() - startTime))/1000))
                
               }
               if ((Date.now() - startTime) > (timeLimit - 10000)) {
                    notifyMe();
                    
                //    $('#main').fadeOut(140);
                //    $('#form').submit();
               }
           }, 1000);

        });

        function liveRecv(data) {
            if (data === true) {
                $('#main').fadeOut(140);
                clearInterval(timer);
                $('#form').submit();
            }
        }

        function notifyMe() {
            if (!window.Notification) {
                console.log('Browser does not support notifications.');
            } else {
                // check if permission is already granted
                if (Notification.permission === 'granted') {
                    // show notification here
                    var notify = new Notification('Prolific Experiment', {
                        body: 'The experiment is starting!',
                        icon: 'https://pbs.twimg.com/profile_images/1027915667637497861/Ps9JRJOc_400x400.jpg',
                    });
                }// else {
                 //   // request permission from user
                 //   Notification.requestPermission().then(function (p) {
                 //       if (p === 'granted') {
                 //           // show notification here
                 //           var notify = new Notification('Hi there!', {
                 //               body: 'How are you doing?',
                 //               icon: 'https://bit.ly/2DYqRrh',
                 //           });
                 //       } else {
                 //           console.log('User blocked notifications.');
                 //       }
                 //   }).catch(function (err) {
                 //       console.error(err);
                 //   });
                //}
            }
        }
    </script>

{% endblock %}

