{% extends "global/Page.html" %}


{% block title %}
<title>Altruism Game</title>
<!--- Timeline of the experiment ---------------------->
<div class="md-stepper-horizontal magenta" id="timeline">
    <div class="md-step" id="instructions">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Instructions</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active" id="experiment">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Experiment</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" id="questionnaire">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Survey</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
</div>
<br>
<!-------------------------------------------------->
{% endblock %}

{% block content %}
<div class="container fade-in" id="main">
    <div class="row">
        <div class="col1">
            <h2>Choose a charity</h2>
            <section class="cards">
                {% for c, img in charities %}
                <article id="{{ c }}" class="card card--1">
                    <div class="card__info-hover">
                        <svg class="card__like" viewBox="0 0 24 24">
                    </div>
                    <div class="card__img" style="background-image: url('{% static img %}');"></div>
                    <a href="#" class="card_link">
                        <div class="card__img--hover"></div>
                    </a>
                    <div class="card__info">
                        <span class="card__category"></span>
                        <h3 class="card__title"></h3>
                        <!-- <span class="card__by">by <a href="#" class="card__author" title="author">Celeste -->
                        <!-- Mills</a></span> -->
                    </div>
                </article>
                {% endfor %}
            </section>

            <h2>Choose an amount to give</h2>
            <br>
            <br>
            <div id="slider-div"></div>
        </div>
        <div class="col2">
            {{ chat }}
        </div>
    </div>

    <div align="center" class="div-validate">
        <button type="button" id="ok" class="matter-button-contained btn-validate">VALIDATE</button>
    </div>

</div>
</div>
<script>
    // for slider
    window.max = {{ endowment }};
    {% comment %} document.querySelector('#send').addEventListener('click', () => insertMessage()) {% endcomment %}
    // wait for the DOM and additional scripts to be loaded
    if (document.readyState !== 'loading') {
        //console.log('document is already ready, just execute code here');
        window.main();
    } else {
        document.addEventListener('DOMContentLoaded', function () {
            //console.log('document was not ready, place code here');
            window.main();
        });
    }
    //setActiveCurrentStep('experiment');


</script>
{% endblock %}