{% extends "global/Page.html" %}


{% block title %}
<title>Altruism Experiment</title>
<!--- Timeline of the experiment ---------------------->
<div class="md-stepper-horizontal black" id="timeline">
    <div class="md-step" id="instructions">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Instructions</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" id="training">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Training</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active" id="experiment">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Experiment</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" id="questionnaire">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Survey</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
</div>
<br>
<!-------------------------------------------------->
{% endblock %}

{% block content %}
<div class="container fade-in" id="main">
    <div class="row">
        <div class="col1">
            <h2>Choose a charity</h2>
            <section class="cards">
                {% for c, img in charities %}
                <article name="{{ c }}" class="card card--1">
                    <div class="card__info-hover">
                        <svg class="card__like" viewBox="0 0 24 24">
                    </div>
                    <div class="card__img" style="background-image: url('{% static img %}');"></div>
                    <a href="#" class="card_link">
                        <div class="card__img--hover"></div>
                    </a>
                    <div class="card__info">
                        <span class="card__category"></span>
                        <h3 class="card__title"></h3>
                        <!-- <span class="card__by">by <a href="#" class="card__author" title="author">Celeste -->
                        <!-- Mills</a></span> -->
                    </div>
                </article>
                {% endfor %}
            </section>
            <br>
            <br>
            <h2>Choose an amount to give</h2>
            <div id="slider-div"></div>
        </div>
        <div class="col2">
            {{ chat }}
        </div>
    </div>
    <div align="center" class="div-validate">
        <button type="button" id="ok" class="matter-button-contained btn-validate">VALIDATE</button>
    </div>

</div>
</div>
<script>
    {% comment %} document.querySelector('#send').addEventListener('click', () => insertMessage()) {% endcomment %}
    // wait for the DOM and additional scripts to be loaded
    document.addEventListener('DOMContentLoaded', main);

    function main() {
        let msgList = [];

        setInterval(x => {
            Array.from(document.querySelectorAll('.otree-chat__nickname')).map(el => {

                if (!el.id) {
                    el.id = Math.floor(Math.random() * Date.now())
                }

                if (!msgList.includes(el.id)) {
                    if (!el.innerText.includes('Me')) {
                        el.parentNode.classList.replace('otree-chat__msg', 'otree-chat__msg-other')
                    }
                    el.parentNode.style.display = 'block';
                    el.parentNode.parentNode.scrollTop = el.parentNode.parentNode.scrollHeight
                    msgList.push(el.id);
                }
            }
            )
        }, 1000)

    let startTime = Date.now();
    let RT;
    let contribution;
    {#// let templateWait = `{{ html }}`; #}

    let min = 0;
    let max = {{ endowment }}
    let step = 1;
    //let question = 'What was the average value of this symbol?'
    //let question = 'What was the average value of this symbol?'
    let initValue = Math.floor(Math.random() * (8 - 2 + 1)) + 2;
    // generate html
    let sliderHTML = SliderManager.generateSlider({
        text: '',
        min: min, max: max, step: step, initValue: initValue
    });
    let elSlider = document.createElement('div');
    elSlider.innerHTML = sliderHTML;

    appendElement('slider-div', elSlider);

    // replace suggestion amount by slider value
    //document.getElementById('suggestion-amount').innerText = 'I want to give ' + SliderManager.getValue().toString() + ' euros';

    // listen on events
    SliderManager.listenOnSlider({}, function (event) {
        let value = event.data.slider.value;
        //choice(value, startTime);
    }, function (event) {
        //let el = document.getElementById('suggestion-amount');
        // Replace any digit by value of the slider
        //el.innerText = el.innerText.replace(/\d/g, SliderManager.getValue());
        //console.log(value)
        //choice(value, startTime);
    });

    // allows to change value using left and right arrows
    SliderManager.listenOnArrowKeys();


    function choice(value, startTime) {

        RT = Date.now() - startTime;
        var startTime = Date.now();
        contribution = value;

        liveSend(
            {
                time: Date.now() - startTime,
                RT: RT,
                contribution: contribution
            }
        );

        // setTimeout(() => {
        // $('#main').append(templateWait);
        // $("#modalWait").modal({
        // backdrop: 'static',
        // keyboard: false
        // });
        // $('#modalWait').modal('show');
        // }, 1000);

        // setInterval(() => {
        //     var wait = document.getElementById("wait");

        //     if (wait.innerHTML.length >= 3)
        //         wait.innerHTML = "";
        //     else
        //         wait.innerHTML += ".";

        // }, 1000);

        // loopSend = setInterval(() => {
        //     liveSend(
        //         {
        //             time: Date.now() - startTime,
        //             RT: RT,
        //             contribution: contribution
        //         });
        // }, 1000);
        // }

    }

    function liveRecv(data) {

        if (data === true) {
            clearInterval(loopSend);
            $('#main').fadeOut(140);
            $('#form').submit();
        }
    }
}
</script>
{% endblock %}