.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.inst-container {
    width: 70% !important;
    margin: auto;
}

.inst-btn {
    margin: 1% !important;
}

.inst-video {
    border: 3px #B18FC2 solid;
    border-radius: .5em;
    margin: 5%;
    text-align: center;
    background-color: white;
}

.inst-video::before {
    content: "video tutorial";
    /*display: block;*/
    /*padding-top: 56.25%;*/
    position:relative;
    z-index: 10;
    top: -20px;
    /*left: 20px;*/
    background-color: white;
    border: 10px solid white;
    color: #B18FC2;
}

/* info and warning panels */
.magenta {
    --color: #B18FC2;
    --light-color: #b18fc218;

}


.orange {
    --color: orange;
    --light-color: rgba(255, 219, 152, 0.3);
}

.quiz-question-text-container {
    margin-top: 5%;
    margin-bottom: 30px;
    background-color: var(--light-color);
    padding: 10px 10px 10px 10px;
    border-radius: .5rem;
}

.quiz-question-info-container{
    border-left-color: var(--color); 
    border-left-width: 5px;
    border-radius: 0;
    border-left-style: solid;
}

.quiz-question-info-container b {
    color: var(--color); 
}

.quiz-question-story-container b{
    color: rgb(116, 116, 228); 
}

.quiz-question-text-item {
    max-width: 100%;
    font-size: 20px;
    line-height: 32px;
    /* color: rgba(48, 48, 48, 0.671); */
    color: var(--color);
    font-weight: normal;
    margin: 0px;
}

.quiz-question-text-item-icon {
    color: var(--color);
}

.quiz-answer-text-item {
    font-size: 25px;
    color: var(--color) !important;
    text-align: center;
}