/* set primary color */
:root {
    --matter-primary-rgb: 177, 143, 194;
}

.card-header {
    background-color: white !important;
    border-bottom: 0 !important;
}

.otree-body {
    max-width: 1200px !important;
}

.input-chat {
    margin-bottom:2%;
}

.otree-chat {
    width: 95%;
    height: 100%;
    max-height: 800px;
    /* z-index: 2; */
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
   /* box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, .2);*/
    background: rgba(255, 255, 255, 0);
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border:white 20px solid !important;
    background-color: white;
    /* max-height: 100%; */
    
}
.otree-chat:before {
    font-size: 30px;
    content: "🗨 Chat";
    color: #B18FC2;
    /*! border-top: solid 50px #B18FC2 !important; */
    /*! position:relative; */
    /*! top: -50px; */
    align-self: center;
    font-weight: bold;
}


.otree-chat__nickname {
    display: none !important;
}

.otree-chat__messages {
    height: 85% !important;
    max-height: 85%;
    font-size: 14px;
    padding: 15px;
    /* display: grid; */
}

.otree-chat__messages {
    overflow: auto;
    background: #eee;
    margin: 2px 0 5px 0;
    /*! border: 1px gray solid; */
    background-color: #cccccc21 !important;
    border-color: #cccccc21;
    border-radius: .3em;
    border: #cccccc21 2px solid;
}


.otree-chat__msg {
    float: right;
    clear: both;
    color: #fff;
    text-align: right;
    /* background: linear-gradient(120deg, #74248a, #257287); */
    background-color: #B18FC2;
    border-radius: 10px 10px 0 10px;
    margin-right: 5% !important;
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #B18FC2;
    bottom: -4px;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    justify-self: self-end;
    margin: 2%;
    display: none;
}

.stamp-me:before {
    color: grey;
    font-size: 10px;
    position: relative;
    top: -25px;
    float: right;
    content: "me";
    /*! line-height: ; */
}
.stamp-other:before {
    color: grey;
    font-size: 10px;
    position: relative;
    top: -15px;
    float: left;
    content: "other player";
    border-collapse: separate;
    line-height: 0;
}


.otree-chat__msg-other {
    float: left;
    clear: both;
    color: #fff;
    text-align: left;
    /* background: linear-gradient(120deg, #74248a, #257287); */
    background-color: gray;
    border-radius: 10px 10px 10px 0;
    margin-left: 5% !important;
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid gray;
    bottom: -4px;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    justify-self: self-start;
    margin: 2%;
}

.otree-chat__btn-send {
    /* @extend .matter-button-contained .btn-validate; */
    background-color: #5482ae;
    color: white;
    border-radius: .5em;
    border-color: white;
    /* box-shadow: none; */
 }
 
 input {
    border-radius: .5em;
    border-color: white;
   /* box-shadow: none;*/
 }

 .disabled-chat {
    pointer-events: none;
    opacity: .2;
    filter: blur(5px);
 }