{% extends 'otree/Base.html' %}

{% load otree %}


{% block internal_styles %}
{{ super() }}

<link href="{% static 'css/matter-0.2.2.min.css' %}" rel="stylesheet">
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #FAFAFA;
    }
    
    .matter-progress-circular:indeterminate::-moz-progress-bar {
        color: #B18FC2;
    }
    
    .card {
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 2px #999;
        /*width: 940px; */
        margin: auto;
        margin-top: 15%;
    }

    .card-body {
        margin-top: 10px;
    }

    .card-header {
        /* /*background-color: #B18FC2; */
        color: #B18FC2;
        font-size: 30px;
        font-weight: bolder;
        background-color: white;

    }

    b {
        color: #B18FC2;
        font-weight: bolder;
    }


    .otree-wait-page {
        max-width: 970px
    }

    .progress-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        transition: width .3s ease;
        background-color: #B18FC2;
    }

    canvas {
        /* background: #9c9; */
        /* -webkit-box-shadow: 0 0 20px #000; */
        /* -moz-box-shadow: 0 0 20px #000; */
        margin:auto;
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: .6em;
        border: 2px solid #B18FC2;
    }
</style>
{% endblock %}
{% comment %}this template is used by rooms, where js_vars does not exist{% endcomment %}
{% block body_main %}{% if is_defined('js_vars') and js_vars %}
<script>var js_vars = {{ js_vars| json }};</script>{% endif %}
<div class="otree-wait-page container fade-in">
    <div class="card" style="width: 60%">
        
        <h4 class="otree-wait-page__title card-header">
            <progress class="matter-progress-circular"></progress>{% block title %}{{ title_text }}{% endblock %}

        </h4>
        <div class="card-body">
            <!-- <progress class="matter-progress-circular"></progress> -->

            <div id="_otree-server-error" class="alert alert-danger" style="display:none">
                {{ "An error occurred. Please check the logs or ask the administrator for help."|gettext }}
            </div>
            {% block content %}
            <p class="otree-wait-page__body">{{ body_text }}</p>
            {% endblock %}
            <!-- <div class="progress"> -->
                <!-- <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div> -->
            <!-- </div> -->
            If you get bored, don't hesitate to play this little snake game. Press <b>space</b> to play or pause the game, use <b>arrow keys</b> to move the snake.
        </div>
    </div>
    {% if is_defined('view.is_debug') and view.is_debug %}
    {% include 'otree/includes/debug_info.html' %}
    {% endif %}
</div>
{% endblock %}

{% block internal_scripts %}
{{ super() }}
<!-- this is an HTML file rather than JavaScript static file because context variables need to be passed to it -->
<script type="text/javascript">

    $(document).ready(function () {

        // window.setInterval(
        // () => {
        // liveSend('hey')
        // }
        // , 1000);
        var socket;

        initWebSocket();

        function initWebSocket() {
            socket = makeReconnectingWebSocket("{{ view.socket_url() }}");
            socket.onmessage = function (e) {
                var data = JSON.parse(e.data);

                // Handle errors
                if (data.error) {
                    // maybe the div's default text doesn't get shown
                    $("#_otree-server-error").text(data.error);
                    $("#_otree-server-error").show();
                    return;
                }

                window.location.reload();

            };
        }

        {% if is_defined('view.group_by_arrival_time') and view.group_by_arrival_time %}

        {% comment %}
        Refresh the whole page.This is documented behavior that enables things like
        allowing people to proceed if they have been waiting too long.
        {% endcomment %}

        window.setInterval(function () {
            window.location.reload();
        }, 180 * 1000);


        {% endif %}

        init();

    });
</script>
<script type="text/javascript">

    /**
     * @license HTML5 experiment Snake
     * http://www.xarg.org/project/html5-snake/
     *
     * Copyright (c) 2011, Robert Eisele (robert@xarg.org)
     * Dual licensed under the MIT or GPL Version 2 licenses.
     **/
    function init() {

        var ctx;
        var turn = [];

        var xV = [-1, 0, 1, 0];
        var yV = [0, -1, 0, 1];
        var queue = [];

        var elements = 1;
        var map = [];

        var X = 5 + (Math.random() * (45 - 10)) | 0;
        var Y = 5 + (Math.random() * (30 - 10)) | 0;

        var direction = Math.random() * 3 | 0;

        var interval = 0;

        var score = 0;
        var inc_score = 50;

        var sum = 0, easy = 0;

        var i, dir;

        var canvas = document.createElement('canvas');

        for (i = 0; i < 45; i++) {
            map[i] = [];
        }

        canvas.setAttribute('width', 45 * 10);
        canvas.setAttribute('height', 30 * 10);

        ctx = canvas.getContext('2d');

        document.querySelector('.card').appendChild(canvas);

        function placeFood() {

            var x, y;

            do {
                x = Math.random() * 45 | 0;
                y = Math.random() * 30 | 0;
            } while (map[x][y]);

            map[x][y] = 1;
            ctx.strokeRect(x * 10 + 1, y * 10 + 1, 10 - 2, 10 - 2);
        }
        placeFood();


        function clock() {

            if (easy) {
                X = (X + 45) % 45;
                Y = (Y + 30) % 30;
            }

            --inc_score;

            if (turn.length) {
                dir = turn.pop();
                if ((dir % 2) !== (direction % 2)) {
                    direction = dir;
                }
            }

            if (

                (easy || (0 <= X && 0 <= Y && X < 45 && Y < 30))


                && 2 !== map[X][Y]) {

                if (1 === map[X][Y]) {
                    score += Math.max(5, inc_score);
                    inc_score = 50;
                    placeFood();
                    elements++;
                }

                ctx.fillRect(X * 10, Y * 10, 10 - 1, 10 - 1);
                map[X][Y] = 2;
                queue.unshift([X, Y]);

                X += xV[direction];
                Y += yV[direction];

                if (elements < queue.length) {
                    dir = queue.pop()

                    map[dir[0]][dir[1]] = 0;
                    ctx.clearRect(dir[0] * 10, dir[1] * 10, 10, 10);
                }

            } else if (!turn.length) {

                    ctx.clearRect(0, 0, 450, 300);

                    queue = [];

                    elements = 1;
                    map = [];

                    X = 5 + (Math.random() * (45 - 10)) | 0;
                    Y = 5 + (Math.random() * (30 - 10)) | 0;

                    direction = Math.random() * 3 | 0;

                    score = 0;
                    inc_score = 50;

                    for (i = 0; i < 45; i++) {
                        map[i] = [];
                    }

                    placeFood();
            }

        }

        // interval = window.setInterval(clock, 60);

        document.onkeydown = function (e) {

            var code = e.keyCode - 37;

            /*
             * 0: left
             * 1: up
             * 2: right
             * 3: down
             **/
            if (0 <= code && code < 4 && code !== turn[0]) {
                turn.unshift(code);
            } else if (-5 == code) {

                if (interval) {
                    window.clearInterval(interval);
                    interval = null;
                } else {
                    interval = window.setInterval(clock, 60);
                }

            } else { // O.o
                dir = sum + code;
                if (dir == 44 || dir == 94 || dir == 126 || dir == 171) {
                    sum += code
                } else if (dir === 218) easy = 1;
            }
        }
    }


</script>
{% endblock %}